In [1]:
url_cad = 'https://aplicacoes.mds.gov.br/sagi/servicos/misocial?fq=anomes_s:2023*&wt=csv&omitHeader=true&fq=cadunico_tot_fam_i:{0%20TO%20*]&q=*&fl=ibge:codigo_ibge,anomes:anomes_s,cadunico_tot_fam:cadunico_tot_fam_i,cadunico_tot_pes:cadunico_tot_pes_i,cadunico_tot_fam_rpc_ate_meio_sm:cadunico_tot_fam_rpc_ate_meio_sm_i,cadunico_tot_pes_rpc_ate_meio_sm:cadunico_tot_pes_rpc_ate_meio_sm_i,cadunico_tot_fam_pob:cadunico_tot_fam_pob_i,cadunico_tot_pes_pob:cadunico_tot_pes_pob_i,cadunico_tot_fam_ext_pob:cadunico_tot_fam_ext_pob_i,cadunico_tot_pes_ext_pob:cadunico_tot_pes_ext_pob_i,cadunico_tot_fam_pob_e_ext_pob:cadunico_tot_fam_pob_e_ext_pob_i,cadunico_tot_pes_pob_e_ext_pob:cadunico_tot_pes_pob_e_ext_pob_i&rows=100000000&sort=anomes_s%20desc,%20codigo_ibge%20asc'

In [2]:
import pandas as pd

In [3]:
pd_cad_2023 = pd.read_csv(url_cad, sep = ",")

In [4]:
pd_cad_2023.head()

,ibge,anomes,cadunico_tot_fam,cadunico_tot_pes,cadunico_tot_fam_rpc_ate_meio_sm,cadunico_tot_pes_rpc_ate_meio_sm,cadunico_tot_fam_pob,cadunico_tot_pes_pob,cadunico_tot_fam_ext_pob,cadunico_tot_pes_ext_pob,cadunico_tot_fam_pob_e_ext_pob,cadunico_tot_pes_pob_e_ext_pob
0,110001,202308,4863,12536,2916,8712,753,2403,794,2176,1547,4579
1,110002,202308,18435,43034,11545,30454,2826,7904,3326,8153,6152,16057
2,110003,202308,933,2529,596,1807,159,493,112,310,271,803
3,110004,202308,18058,42056,10222,27382,2302,6428,3467,8541,5769,14969
4,110005,202308,3136,7653,1876,5311,531,1524,554,1557,1085,3081

In [22]:
pd_cad_2023_fx_renda = pd_cad_2023.groupby('anomes')[['cadunico_tot_fam','cadunico_tot_fam_rpc_ate_meio_sm','cadunico_tot_fam_pob','cadunico_tot_fam_ext_pob', 'cadunico_tot_fam_pob_e_ext_pob']].sum()

In [23]:
pd_cad_2023_fx_renda.head()

,cadunico_tot_fam,cadunico_tot_fam_rpc_ate_meio_sm,cadunico_tot_fam_pob,cadunico_tot_fam_ext_pob,cadunico_tot_fam_pob_e_ext_pob
anomes,,,,,
202301,41519690,33473906,3718611,21744364,25462975
202302,41951403,33789868,3759269,21990125,25749394
202303,42288619,34025656,3800882,22148987,25949869
202304,41827355,33791468,3899814,22051015,25950829
202305,41902786,33994281,3999212,22112758,26111970

In [24]:
pd_cad_2023_fx_renda['cadunico_total_fam_baixa_renda'] = pd_cad_2023_fx_renda['cadunico_tot_fam_rpc_ate_meio_sm'] - pd_cad_2023_fx_renda['cadunico_tot_fam_pob_e_ext_pob']

In [26]:
pd_cad_2023_fx_renda.head(2)

,cadunico_tot_fam,cadunico_tot_fam_rpc_ate_meio_sm,cadunico_tot_fam_pob,cadunico_tot_fam_ext_pob,cadunico_tot_fam_pob_e_ext_pob,cadunico_total_fam_baixa_renda
anomes,,,,,,
202301,41519690,33473906,3718611,21744364,25462975,8010931
202302,41951403,33789868,3759269,21990125,25749394,8040474

In [27]:
pd_cad_2023_fx_renda['Per_baixa_renda'] = pd_cad_2023_fx_renda['cadunico_total_fam_baixa_renda']/pd_cad_2023_fx_renda['cadunico_tot_fam_rpc_ate_meio_sm']
pd_cad_2023_fx_renda['Per_pob'] = pd_cad_2023_fx_renda['cadunico_tot_fam_pob']/pd_cad_2023_fx_renda['cadunico_tot_fam_rpc_ate_meio_sm']
pd_cad_2023_fx_renda['Per_ext_pob'] = pd_cad_2023_fx_renda['cadunico_tot_fam_ext_pob']/pd_cad_2023_fx_renda['cadunico_tot_fam_rpc_ate_meio_sm']

In [56]:
pd_cad_2023_fx_renda.tail(2)

,cadunico_tot_fam,cadunico_tot_fam_rpc_ate_meio_sm,cadunico_tot_fam_pob,cadunico_tot_fam_ext_pob,cadunico_tot_fam_pob_e_ext_pob,cadunico_total_fam_baixa_renda,Per_baixa_renda,Per_pob,Per_ext_pob
anomes,,,,,,,,,
202307,42533652,30376090,3582280,19190957,22773237,7602853,0.250291,0.117931,0.631778
202308,42818208,30640223,3701806,19362683,23064489,7575734,0.247248,0.120815,0.631937

In [42]:
url_cad_2022 = 'https://aplicacoes.mds.gov.br/sagi/servicos/misocial?fq=anomes_s:2022*&wt=csv&omitHeader=true&fq=cadunico_tot_fam_i:{0%20TO%20*]&q=*&fl=ibge:codigo_ibge,anomes:anomes_s,cadunico_tot_fam:cadunico_tot_fam_i,cadunico_tot_pes:cadunico_tot_pes_i,cadunico_tot_fam_rpc_ate_meio_sm:cadunico_tot_fam_rpc_ate_meio_sm_i,cadunico_tot_pes_rpc_ate_meio_sm:cadunico_tot_pes_rpc_ate_meio_sm_i,cadunico_tot_fam_pob:cadunico_tot_fam_pob_i,cadunico_tot_pes_pob:cadunico_tot_pes_pob_i,cadunico_tot_fam_ext_pob:cadunico_tot_fam_ext_pob_i,cadunico_tot_pes_ext_pob:cadunico_tot_pes_ext_pob_i,cadunico_tot_fam_pob_e_ext_pob:cadunico_tot_fam_pob_e_ext_pob_i,cadunico_tot_pes_pob_e_ext_pob:cadunico_tot_pes_pob_e_ext_pob_i&rows=100000000&sort=anomes_s%20desc,%20codigo_ibge%20asc'

In [45]:
pd_cad_2022 = pd.read_csv(url_cad_2022, sep = ",")

In [46]:
pd_cad_2022.head(2)

,ibge,anomes,cadunico_tot_fam,cadunico_tot_pes,cadunico_tot_fam_rpc_ate_meio_sm,cadunico_tot_pes_rpc_ate_meio_sm,cadunico_tot_fam_pob,cadunico_tot_pes_pob,cadunico_tot_fam_ext_pob,cadunico_tot_pes_ext_pob,cadunico_tot_fam_pob_e_ext_pob,cadunico_tot_pes_pob_e_ext_pob
0,110001,202212,4900,12695,3231,9574,758,2503,1063,3005,1821,5508
1,110002,202212,16852,39857,12160,32098,3131,8917,3467,8743,6598,17660

In [47]:
pd_cad_2022_fx_renda = pd_cad_2022.groupby('anomes')[['cadunico_tot_fam','cadunico_tot_fam_rpc_ate_meio_sm','cadunico_tot_fam_pob','cadunico_tot_fam_ext_pob', 'cadunico_tot_fam_pob_e_ext_pob']].sum()

In [48]:
pd_cad_2022_fx_renda.head(2)

,cadunico_tot_fam,cadunico_tot_fam_rpc_ate_meio_sm,cadunico_tot_fam_pob,cadunico_tot_fam_ext_pob,cadunico_tot_fam_pob_e_ext_pob
anomes,,,,,
202201,32889601,26322129,2886349,16975529,19861878
202202,33771329,27070335,2982086,17544358,20526444

In [49]:
pd_cad_2022_fx_renda['cadunico_total_fam_baixa_renda'] = pd_cad_2022_fx_renda['cadunico_tot_fam_rpc_ate_meio_sm'] - pd_cad_2022_fx_renda['cadunico_tot_fam_pob_e_ext_pob']

In [50]:
pd_cad_2022_fx_renda.head(2)

,cadunico_tot_fam,cadunico_tot_fam_rpc_ate_meio_sm,cadunico_tot_fam_pob,cadunico_tot_fam_ext_pob,cadunico_tot_fam_pob_e_ext_pob,cadunico_total_fam_baixa_renda
anomes,,,,,,
202201,32889601,26322129,2886349,16975529,19861878,6460251
202202,33771329,27070335,2982086,17544358,20526444,6543891

In [53]:
pd_cad_2022_fx_renda['Per_baixa_renda'] = pd_cad_2022_fx_renda['cadunico_total_fam_baixa_renda']/pd_cad_2022_fx_renda['cadunico_tot_fam_rpc_ate_meio_sm']
pd_cad_2022_fx_renda['Per_pob'] = pd_cad_2022_fx_renda['cadunico_tot_fam_pob']/pd_cad_2022_fx_renda['cadunico_tot_fam_rpc_ate_meio_sm']
pd_cad_2022_fx_renda['Per_ext_pob'] = pd_cad_2022_fx_renda['cadunico_tot_fam_ext_pob']/pd_cad_2022_fx_renda['cadunico_tot_fam_rpc_ate_meio_sm']

In [54]:
pd_cad_2022_fx_renda.tail(2)

,cadunico_tot_fam,cadunico_tot_fam_rpc_ate_meio_sm,cadunico_tot_fam_pob,cadunico_tot_fam_ext_pob,cadunico_tot_fam_pob_e_ext_pob,cadunico_total_fam_baixa_renda,Per_ate_meio_sm_2,Per_pob_2,Per_ext_pob_2,Per_baixa_renda,Per_pob,Per_ext_pob
anomes,,,,,,,,,,,,
202211,40719144,32583694,3644742,21317056,24961798,7621896,0.800206,0.089509,0.523514,0.233917,0.111858,0.654225
202212,41293865,33009054,3696272,21614470,25310742,7698312,0.799369,0.089511,0.523431,0.233218,0.111978,0.654804