In [1]:
import pandas as pd

In [2]:
# Trazer bases
caminho = "data/IndiceGeral/"

In [3]:
# Componente Bolsa Família
indice_pbf_cadunico_geo = pd.read_csv(f'{caminho}pd_indice_pbf_cadunico_geo.csv', sep = ",")
pd_indice_pbf_cadunico_geo = pd.DataFrame(indice_pbf_cadunico_geo[['ibge_6', 'cl_indice_bf']])

# Cálculo da contribuição do índice bolsa família para o índice geral
pd_indice_pbf_cadunico_geo['geral_bf'] = pd_indice_pbf_cadunico_geo[['cl_indice_bf']]/6*2.5
pd_indice_pbf_cadunico_geo.head()

   ibge_6  cl_indice_bf  geral_bf
0  110001             6  2.500000
1  110002             6  2.500000
2  110003             6  2.500000
3  110004             6  2.500000
4  110005             5  2.083333

In [12]:
# Componente BPC
indice_bpc_geo = pd.read_csv(f'{caminho}pd_indice_bpc_geo.csv', sep = ",")

pd_indice_bpc_geo = pd.DataFrame(indice_bpc_geo[['ibge_6', 'Classe']])

## Cálculo da contribuição do índice bolsa família para o índice geral
pd_indice_bpc_geo['geral_bpc'] = pd_indice_bpc_geo[['Classe']]/11*2.5

pd_indice_bpc_geo.head()

   ibge_6  Classe  geral_bpc
0  110001     4.0   0.909091
1  110002     9.0   2.045455
2  110003     2.0   0.454545
3  110004     8.0   1.818182
4  110005     4.0   0.909091

In [5]:
# Componente RMA
pd_RMA_CRAS_geo = pd.read_csv(f'{caminho}dadosPorte_classe.csv', sep = ",")
pd_RMA_CRAS_geo = pd.DataFrame(pd_RMA_CRAS_geo[['ibge_6', 'Classe']])

# Cálculo da contribuição do índice RMA para o índice geral
pd_RMA_CRAS_geo['geral_RMA'] = pd_RMA_CRAS_geo[['Classe']]/11*2.5

pd_RMA_CRAS_geo.head()

   ibge_6  Classe  geral_RMA
0  110001       5   1.136364
1  110007       5   1.136364
2  110012       5   1.136364
3  110037       5   1.136364
4  110160       5   1.136364

In [6]:
# Componente IGD_M

In [7]:
# Unificar bases

In [8]:
# Calcular peso de cada índice

In [9]:
# Calcular índice total

In [10]:
# Gráfico

In [11]:
# Mapa